body{
	font-family: 'Nunito', sans-serif;
	width: 80%;
	margin: 0 auto;
}

h1{
	font-size: 3rem;
	color:#000000;
}
a{
	text-decoration: none;
}
	#example{
		color:#7bd8ff ;
	}

.header__navigation{
background-color: #35444f;
list-style: none;
text-align: center;
padding: 0;
}

.header__navigation a{
	color:#f2f3f3;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	display: inline-block;
	width: 100%;
	padding: 1rem 0;
}

.header__navigation li{
	display: inline-block;
	width: 18%;
}
.header__navigation a:hover {
	background-color: #222f3a;
	border-left: 1px inset white;
	border-right: 1px inset white;
}

.content__menu {
	width: 30%;
	display: inline-block;
}

.content__navigation {
	list-style: none;
	padding: 0;
	margin-top: 2rem;
	border: 1px solid #35444f;
	display: block;
}

.content__navigation a {
	text-decoration: none;
	color:#495863 ;
	width: 100%;
	display: block;
	padding: 1rem 1rem 1rem 1rem;
}
.content__navigation li {
	display: block;
}

.content__navigation li:hover {
	background-color: #dbdbdb;
}

.content__navigation a:hover {
	color: #000000;
	margin-left: 1rem;
}

.content__article {
	margin-top: 2rem;
	float: right;
	width: 65%;
}

.content__article > div {
	border: 1px solid black;
}

.content__article img {
	display: block;
	margin: 40px auto 40px;
}

.content__article p {
	margin: 2rem 5%;
	line-height: 1,5rem;
}

.footer__navigation {
	background-color: #b4b7ba;
	clear: both;
	padding: 0;
}

.footer__navigation li {
	display: inline-block;
}

.footer__navigation a {
	text-decoration: none;
	color: #0c1927;
	width: 100%;
	float: left;
	padding: 1rem 1rem;
}

.footer__navigation a:hover {
	color: #3181a6;
	text-decoration: underline;
}

.footer__navigation::after {
	content: "Copyright © 2018";
	float: right;
	margin-top: 1rem;
	margin-right: 1rem;
}






